.container{
	padding: 20px;
}
.wrapper{
	width: 340px;
	margin: auto;
	padding: 10px;
    background-color: #e2e2e2;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    text-align: center;
}
.wrapper h2{
	font-size: 20px;
	color:#333;
	text-align: center;
}
.wrapper img{
	max-width: 100%;
}
.ac-data{
    text-align: left;
}

img.logo {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;


}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}